body {
    background-color: #81ecda;
    font-family: 'Lucida Sans'; 
}
h1 {
    text-align: center;
    font-size: 50px;
    font-style: italic;
}   
textarea, input[type=text], input[type=submit], input[type=number], select {
    padding: 15px 25px 15px 25px;
    border-radius: 20px;
    margin-top: 10px;
    font-weight: 700; 
}
input[type=text], select {
    width: 500px;
}
input[type=radio] {
    width: 50px;
}
textarea {
    width: 450px;
    height: 90px;
}
div.textarea {
    float: right;
    padding: 2%;
    margin-right: 30px;
}
div.inputs {
    float: left;
    padding: 2%;
    margin-left: 30px;
}
legend {
    font-size: 25px;
}
table {
    width: auto;
    border-collapse: collapse;
    text-align: center;
    border-radius: 20px;
}
div.tableInfo {
    padding: 2%;
}
table, td, th {
    border: 1px solid black;
    padding: 15px 25px 15px 25px;  
}  